<% @post_comments.each do |comment| %>
  <div class="balloon-009">
    <%= image_tag comment.user.get_profile_image(40,40) , class:"rounded-circle";  %>
      <%= comment.user.nick_name %>
      <p><%= link_to comment.content, salon_comments_path(comment.id)%></p>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
  </div>
<% end %>