<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
        <h4>予約スケジュール</h4>
<!-- ここから --!>
<%= month_calendar events: @reservations do |date, reservations| %>
  <%= date %>

  <% reservations.each do |reservation| %>
    <div>
       <%= link_to reservation.time.strftime( "%H:%M" ), salon_reservation_path(reservation.id)%>:
      <%= reservation.user.user_name %>
    </div>
  <% end %>
<% end %>
</div>
</div>
